body{
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.head{
	width: 100%;
	height: 40px;
	background-color: #333;
}
.head-neikuan{
	width: 1226px;
	height: 40px;
	/*background-color: olive;*/
	margin: 0 auto;
/*	两个值—— 0、auto（自动） */
}
.head-mune{
	font-family: "sans-serif","微软雅黑","黑体";
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	float: left;
	line-height: 40px;
}
/*设置未访问链接状态*/
.head-mune:link{
	color: #f0f0f0;
}
/*设置访问过后链接状态*/
.head-mune:visited{
	color:pink;
}
/*设置鼠标移入后元素的变化*/
.head-mune:hover{
	color:#fff;
}
/*选中元素时候的状态*/
.head-mune:active{
	color: red;
}
.buy{
	width: 120px;
	height: 40px;
	background-color: #424242;
	display: block;
	margin-left: 10px;
	padding-left: 6px;
	color: #b0b0b0;
	line-height:40px;
	font-size: 12px;
	transition: all .3s linear;
	float: right;
}
.buy .iconfont{
	color: #fff;
	font-size: 22px;
	line-height: 40px;
	float: left;
	margin-left: 10px;
}

.buy h5{
	color: #fff;
	line-height: 40px;
	font-size: 12px;
	margin-left:10px;
	float:left;
}
.head-fenge{
	margin: 0 6px;
	color: #424242;
}
.head-left{
	float: left;
}
.head-right{
	float: right;
}
.nav-neikuan{
	width: 1226px;
	height: 55px;
	/*background-color: pink;*/
	margin: 0 auto;
	margin-top: 22px;
}
.nav-logo{
	width: 55px;
	height: 55px;
	background-color: #ff6700;
	float: left;
}
.nav-wenzi{
	float: left;
	margin-left: 189px;
}
.nav-zi{
	font-size: 16px;
	color: #333;
	margin-right: 20px;
	line-height: 55px;
	float: left;
}
.nav-zi:hover{
	color: #ff6700;
}
.nav-search{
	width: 296px;
	height: 50px;
	float: right;
}
.soukuang{
	width: 241px;
	height: 42px;
	text-indent: 5px;
	float: left;
	margin: 0 auto;
}
.nav-search .sou-button{
	width: 46px;
	height: 46px;
	background-color: #ff6700;
	color: #fff;
	font-size: 26px;
	border: 2px solid #fff;
	border-style: none;
}
.pic{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 14px;
}
.picbox{
	width: 316px;
	height: 170px;
	background-color: #333;
	float: left;
	margin-left: 15px
}
.pic01{
	width: 230px;
	margin-left: 0;
	background-color: #5f5750;
	padding: 0 2px;
}
.FW{
	display: block;
	width: 76px;
	height: 69px;
	padding: 15px 0 0;
	background-color: #333;
	border-right: 1px solid rgba(207,205,203,.4);
	float: left;
	border-bottom: 1px solid rgba(207,205,203,.4);
	overflow: hidden;
}
.FW-1{
	border-right: 0;
}
.FW .iconfont{
	color: #CDCAC8;
	font-size: 30px;
	margin-top: 20px;
	margin-left: 24px;
}
.FW .FW-N{
	color: #CDCAC8;
	line-height: 24px;
	font-size: 12px;
	text-align: center;
}
.pic02{
	margin-left: 14px;
}
.star{
	width: 1226px;
	height: 380px;
	/*background-color: #fff;*/
	margin: 0 auto;
	margin-top:44px;
}
.star-biaoti{
	margin: 0 auto;
	width: 1226px;
	height: 29px;
}
.star-name{
	font-size: 22px;
	color: #333;
	font-weight: 200;
	float: left;
}
.jt{
	float: right;
}
.jiantou{
	width: 36px;
	height: 24px;
	border: 1px solid #e0e0e0;
	font-size: 20px;
	color: #e0e0e0;
	font-weight: 400;
	float: right;
	line-height: 24px;
	text-align: center;
}
.star-product{
	margin-top: 20px;
}
.star-pro{
	width: 234px;
	height: 340px;
	background-color: #fafafa;
	float: left;
	margin-left: 14px;
	border-top: 1px solid #00c0a5;
	transition: all .3s linear;
}
.star-pro:hover{
	transform:translateY(-10px);
	box-shadow: 1px 3px 20px 3px rgba(0,0,0,.4);     /*默认外阴影（outset/inset）1.x坐标，2.纵坐标，3.大小 4.模糊，5颜色，*/
}
.star-pro01{
	margin-left: 0;
	border-top-color: #ffac13
}
.star-pro02{
	border-top-color: #83c44e
}
.star-pro03{
	border-top-color: #2196f3
}
.star-pro04{
	border-top-color: #e53935
}
.pic-pro{
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	margin-top: 40px;
}
.pro-name{
	display: block;
	font-size: 14px;
	color: #333;
	font-weight:400;
	text-align: center;
	margin-top: 32px;
}
.pro-sm{
	font-size: 12px;
	color: #b0b0b0;
	font-weight:400;
	text-align: center;
	margin-top: 11px;
}
.pro-money{
	font-size: 14px;
	color: #ff6709;
	text-align: center;
	margin-top: 20px;
}
.jiantou2{
	color: #bbb1b0;
	border-right-style: hidden;
}
.chanpin{
	width: 100%;
	height: auto;
	background-color: #F5F5F5;
	margin-top:40px;
	overflow: hidden;
}
.jiadian{
	width: 1226px;
	height: 672px;
	margin:0 auto;
	margin-top: 60px;
}
.jiadian-t{
	width: 100%;
	height: 58px;
}
.jiadian-t h2{
	font-size: 22px;
	color: #333;
	line-height: 58px;
	font-weight: 200;
	float: left;
}
.jiadian-mune{
	float: right;
	margin-top: 20px;
}
.jiadian-mune a{
	float: left;
	font-size: 16px;
	color: #333;
	line-height: 20px;
	margin-left:40px;
}
.jiadian-mune .jd-wz{
	margin-left: 0;
}
.jiadian-mune a:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.jiadian-b{
	width: 100%;
	height: 614px;
	margin:0 auto;
}
.jp-l{
	display: block;
	height: 100%;
	width: 234px;
	float: left;
	transition: all .3s linear;
}
.jp-l:hover{
	transform:translateY(-5px);
	box-shadow: 0px 2px 20px 3px rgba(0,0,0,.4);     /*默认外阴影（outset/inset）1.x坐标，2.纵坐标，3.大小 4.模糊，5颜色，*/
}
.jp-r{
	height: 100%;
	width: 992px;
	float: right;
}
.jd-pro{
	display: block;
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
	background-color: #fff;
	transition: all .3s linear;
	overflow: hidden;
	position: relative;
}
.jd-pro:hover{
	transform:translateY(-5px);
	box-shadow: 0px 2px 16px 2px rgba(0,0,0,.4);     /*默认外阴影（outset/inset）1.x坐标，2.纵坐标，3.大小 4.模糊，5颜色，*/
}
.jd-pro:hover .shangtan{
	transform: translateY(-75px);
	background-color: rgba(255,103,0,1);
}
.shangtan{
	width: 174px;
	height: 59px;
	padding: 8px 30px;
	background-color: rgba(255,103,0,0);
	position: absolute;
	left: 0;
	top:300px;
	transition: all .3s linear;
}
.shangtan span{
	display: block;
}
.shangtan span:nth-child(1){
	margin-bottom: 5px;
	color: #fff;
	font-size:12px;
}
.shangtan span:nth-child(2){
	color: rgba(255,255,255,.6);
	font-size:12px;
}
.jd-pro1{
	display: block;
	width: 234px;
	height: 300px;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
	background-color: #F5F5F5;
}
.jd-proimg{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 34px;
}
.jd-name{
	margin-top: 16px;
}
.jd-pl{
	display: block;
	width: 234px;
	height: 143px;
	margin-bottom:14px;
	overflow: hidden;
	background-color: #fff;
	transition: all .3s linear;
}
.jd-pl:hover{
	transform:translateY(-10px);
	box-shadow: 0px 2px 20px 3px rgba(0,0,0,.4); 
}
.pl-l{
	margin-top:40px;
	margin-left: 30px;
	float: left;
}
.jd-n{
	text-align: left;
	margin-top: 0;
	margin-bottom: 15px;
}	
.pl-r{
	width: 80px;
	height: 80px;
	float: right;
	background-color: #333;
	margin-top:30px; 
	margin-right:30px;
}
.pl-r2{
	width: 50px;
	height: 50px;
	float: right;
	background-color: #333;
	margin-top:45px; 
	margin-right:45px;
}
.jd-n2{
	font-size: 18px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.mokuai{
	margin-top: 22px;
}
.jd-n3{
	font-size: 12px;
	color: #757575
}
.zn-pro{
	margin-left: 0;
}
.jd-pro .pro-sm{
	margin-top: 8px;
}
.jd-pro .pro-money{
	margin-top: 18px;
}
.reping{
	line-height: 58px;
	font-size: 22px;
	color: #333;
	font-weight: 200;
}
.tj-box{
	width: 1226px;
	height: 358px;
	margin:0 auto;
	margin-top: 22px;
}
.tjp-box{
	height: 314px;
	}
.rp-box{
	height: 415px;
}
.rp-pro{
	width: 296px;
	height: 415px;
	background-color: #fff	;
	float: left;
	margin-left: 14px;
	margin-bottom: 14px;
	transition: all .3s linear;
}
.rp-pro:hover{
	transform:translateY(-10px);
	box-shadow: 0px 2px 20px 3px rgba(0,0,0,.4); 
}
.rp-p01{
	margin-left: 0;
}
.rp-pic{
	width: 100%;
	height: 220px;
	margin-bottom: 28px;
}
.TJ-JT{
	margin-top: 16px;
}
.rp-tb{
	height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
    color: #333
}
.pl-yuan{
	height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.tjm-box{
	margin: 0 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tjm{
	float: left;
	font-size: 14px;
    font-weight: 400;
    color: #333;
}
.tjm-2{
	margin: 0 9px;
}
.tjm-3{
	color: #ff6700;
}
.nr{
	width: 1226px;
	height: 478px;
	margin: 0 auto;
	margin-top: 22px;
}
.nr-pro{
	position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
}
.nr-pro1{
	border-top-color: #ffac13;
}
.nr-pro2{
	border-top-color: #83c44e;
}
.nr-pro3{
	border-top-color: #e53935;
}
.nr-pro4{
	border-top-color: #2196f3;
}
.nr-name{
	margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.nr-n1{
	color: #ffac13;
}
.nr-n2{
	color: #83c44e;
}
.nr-n3{
	color: #e53935;
}
.nr-n4{
	color: #2196f3;
}
.nr-zhuti{
	font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    margin: 0 auto;
    color: #333;
}
.nr-jj{
	text-align: center;
	margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #b0b0b0;
}
.nr-mon{
	height: 21px;
    margin: 0 10px 15px;
    text-align: center;
    color: #333;
}
.nr-pic{
	width: 216px;
    height: 154px;
    margin: 0 auto
}
.sp-kp{
	width: 296px;
    height: 285px;
}
.sp-pic{
	width: 296px;
    height: 180px;
	margin-bottom: 28px;
}
.sp-name{
	margin: 0 0 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
}
.sp-jj{
	height: 18px;
    margin: 0;
    font-size: 12px;
    color: #b0b0b0;
    text-align: center;
}
.sp-pic .iconfont{
	font-size: 30px;
	color: #fff;
	margin: -45px 20px 0;
	transition: all 0.5s linear;
}
.sp-pic:hover .iconfont{
	color: #ff6709;
}
.sp-box{
	height: 285px;
}
.sp-box{
	width: 1226px;
	height: 343px;
	margin:0 auto;
	margin-top: 22px;
	margin-bottom: 60px;
}
.rp-kp{
	height: 473px;
}
.zhandian{
	width: 100%;
	height: 272px;
	background-color: #fff;
}
.service{
	width: 1226px;
	height: 25px;
	padding: 27px 0;
	margin:0 auto;
	border-bottom: 1px solid #e0e0e0;
}
.service .iconfont{
	width: 126px;
	height: 25px;
	padding:0 59px;
	border-right: 1px solid #e0e0e0;
	text-align: center;
	font-size: 20px;
	color: #616161;
	float: left;
	font-weight: bold;
}
.service .iconfont:hover{
	color:#ff6700;
}
.service .wx1:after{
	content: "免费预约服务";
	display: block;
	font-size: 16px;
	float: right;
	font-weight: bold;
}
.service .wx2:after{
	content: "7天无理由退换";
	display: block;
	font-size: 16px;
	float: right;
	font-weight: bold;
}
.service .wx3:after{
	content: "15天免费换货";
	display: block;
	font-size: 16px;
	float: right;
	font-weight: bold;
}
.service .wx4:after{
	content: "满150元包邮";
	display: block;
	font-size: 16px;
	float: right;
	font-weight: bold;
}
.service .wx5:after{
	content: "520余家售后网点";
	display: block;
	font-size: 16px;
	float: right;
	font-weight: bold;
}
.service .wx5{
	border-right: 0;
	width: 152px;
	padding: 0 46px;
}
.ditu{
	width: 1226px;
	height: 112px;
	margin: 0 auto;
	padding: 40px 0;
}
.fenlei{
	width: 160px;
	height: 112px;
	float: left;
}
.zhu{
	margin: -1px 0 26px;
	font-size: 14px;
    line-height: 1.25;
    color: #424242;
    font-weight: bold;
}
.fu{
	margin: 10px 0 0;
    font-size: 12px;
    color: #757575
}
.fu:hover{
	color: #ff6700;
}
.lianxi{
	width: 245px;
	height: 112px;
	float: right;
	border-left: 1px solid #e0e0e0
}
.lx-1{
	width: 244px;
	text-align: center;
	margin: 0 0 5px;
	font-size: 22px;
	color: #ff6700;
}
.lx-2{
	width: 244px;
	height: 36px;
	margin-bottom:16px;
}
.time{
	text-align: center;
	font-size: 12px;
	color: #616161;
}
.lx{
	width: 118px;
	height: 28px;
	border: 1px solid #ff6700;
	margin:0 auto;
}
.lx .iconfont{
	font-size: 12px;
	line-height: 28px;
	color: #ff6700;
	text-align: center;
}
.lx:hover{
	background-color: #ff6700;
}
.lx:hover .iconfont{
	color: #fff
}
.mess{
	width: 1226px;
	height: 106px;
	margin: 0 auto;
	padding: 30px 0;
}
.mt1{
	width: 57px;
	height: 57px;
	margin-right:10px;
	background-color: #ff6700;
	float: left;
}
.mxm{
	font-size: 12px;
	color: #757575;
	float: left;
	line-height: 18px;
}
.mxm1{
	margin: 0 3px;
}
.mx2{
	margin-left: 0;
	color: #b0b0b0;
	font-size: 12px;
}
.mt2{
	width: 790px;
	height: 57px;
	margin: 0;
}
.mxm2:hover{
	color: #ff6700;
}
.mt{
	width: 366px;
	height: 28px;
	float: right;
	margin-top: -57px;	
}
.mess-pic{
	width: 85px;
	height: 28px;
	margin-left: 7px;
	float: left;
}
.mp-01{
	width: 83px;
}
.mess-b{
	width: 270px;
	height: 20px;
	margin: 19px auto 0;

}
.messbox{
	background-color: #FAFAFA;
	width: 100%;
	height: 166px;
}
.banner{
	width: 1226px;
	height: 460px;
	background-color: pink;
	margin: 0 auto;
	margin-top: 22px;	
	position: relative;
}
.banpic{
	width: 100%;
	height: 100%;
}
.ban-list{
	width: 234px;
	height: 440px;
	background-color:rgba(0,0,0,.4);
	font-size: 14px;
	line-height: 42px;
	position: absolute;
	left: 0;
	top:0;
	padding-top: 20px;
}
.ban-list li{
	width: 174px;
	padding: 0 30px;
	overflow: hidden;	
}
.ban-list li:hover{
	background-color: #ff6700;
}
.ban-L{
	float: left;
}
.ban-R{
	float: right;
}
.ban-list a{
	color: #fff;
}
.ban-button{
	display: block;
	width: 46px;
	height: 69px;
	/*background-color: yellow;*/
	position: absolute;
	/*left: 234px;*/
	top:0;
	bottom: 0;
	margin: auto;
	line-height: 69px;
	text-align: center;
	font-size: 30px;
	color: #757575;
}
.ban-bL{
	left: 234px;
}
.ban-bR{
	/*margin-right: 0;*/
	right: 0;
}
.ban-button:hover{
	color: #fff;
	background-color:rgba(0,0,0,.4);
}
.dian{
	width: 120px;
	height: 10px;
	/*background-color: green;*/
	position: absolute;
	right: 30px;
	bottom: 20px;

}
.dian li{
	width: 6px;
	height: 6px;
	background-color: #fff;
	border:2px solid #ccc;
	float: left;
	border-style: 50%;
	margin:0 0 0 10px;
	border-radius: 50%;
}
.dian .dian-xuan{
	background-color: #ccc;
	border:2px solid #fff;
}
.shi-box{
	height: 285px;
}